body{
    background-color: aquamarine;
    font-family: sans-serif;
}
h1{
    color: black;
    font-size: medium;
}
p{
    color:blueviolet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-align: justify;
    text-decoration: underline;
}
